:root {
--color00: #210321;
--color01: #210321;
--color02: #210321;
--color03: #ffafe4;
--color04: #ffeca0;
--color05: #ffeca0;
--color06: #ffeca0;
--color07: #ffeca0;
--color08: #e71852;
--color09: #f2c256;
--color0A: #fcf3dd;
--color0B: #7ad573;
--color0C: #53d0bc;
--color0D: #5090f8;
--color0E: #9d58f0;
--color0F: #f8bdcd;
}
